@font-face {
  font-family: 'iconfont';  /* project id 1085848 */
  src: url('http://at.alicdn.com/t/font_1085848_p3n3foy7zlm.eot');
  src: url('http://at.alicdn.com/t/font_1085848_p3n3foy7zlm.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1085848_p3n3foy7zlm.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1085848_p3n3foy7zlm.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1085848_p3n3foy7zlm.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1085848_p3n3foy7zlm.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jigou:before {
  content: "\e63e";
}

.icon-jiangzhang:before {
  content: "\e613";
}

.icon-shenglve:before {
  content: "\e60a";
}

.icon-jubao:before {
  content: "\e662";
}

.icon-mima_bukan:before {
  content: "\e6c5";
}

.icon-broom:before {
  content: "\e600";
}

.icon-send:before {
  content: "\e615";
}

.icon-fenxiang:before {
  content: "\e713";
}

.icon-xiaoxi:before {
  content: "\e614";
}

.icon-gengduo:before {
  content: "\e688";
}

.icon-sc1:before {
  content: "\e60b";
}

.icon-sc2:before {
  content: "\e612";
}
